*{
  margin: 0;
}
img{
  width: 100px;
}

img:hover{
  width: 150px;
}

.header{
  background-color: #e4fbff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

.introduceName{
  display: flex;
  flex-direction: column;


}

.title{
  font-family: 'Press Start 2P', cursive;
}

.title:hover{
  font-family: 'Press Start 2P', cursive;
  font-family: 'Ravi Prakash', cursive;
  color : red;
  font-size: 100px;
  
}
.characters{
  display: flex;
  flex-direction: row ;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;

}
.figure{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  border: solid transparent 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: #e4fbff;
  

}

.arena{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #edeef7;
}
.fighters{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
button{
  height: 50px;
  margin: 10px;
  background-color: transparent;
  font-weight: bolder;
  border: 5px solid black;
  border-radius: 10px;

}

button:hover{
  background-color: #7868e6 ;
  color: white;
}

.arena-button{
  border: transparent;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
}

.arena-button:hover{
  font-family: 'Press Start 2P', cursive;
  font-family: 'Ravi Prakash', cursive;
  color : red;
  font-size: 100px;
  background-color: transparent;
}
